<aside class="w-64 px-3 bg-white shadow-md min-h-screen">
    <div class="p-4 font-bold text-xl justify-center flex">
        <img (click)="OnProductList()" src="logo.jpeg" alt="logo" class="w-18 h-10 cursor-pointer" />
    </div>
    <div class="ml-4 text-xs font-bold text-gray-400" *ngIf="isSidebarOpen">Menu</div>
    <nav class="mt-2">
        <ul>
            <li class="mb-3">
                <div class="flex items-center justify-between px-4 py-2 hover:bg-gray-200 
                    rounded-sm font-semibold text-sm hover:text-blue-600 cursor-pointer text-gray-400"
                    (click)="toggleDropdown('Product')">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
                        </svg>
                        <span *ngIf="isSidebarOpen">Physical Product</span>
                    </div>
                    <svg class="w-4 h-4 transition-transform duration-300"
                        [class.rotate-180]="openDropdown === 'Product'" fill="none" stroke="currentColor"
                        stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>
                <ul *ngIf="openDropdown === 'Product' && isSidebarOpen" class="pl-8 rounded-sm bg-gray-100 text-sm">
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="prodctlist()">Product List
                    </li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="checkout()">Chekout
                        List</li>

                </ul>
            </li>
            <li class="mb-3">
                <div class="flex items-center justify-between px-4 py-2 hover:bg-gray-200 
                    rounded-sm font-semibold text-sm hover:text-blue-600 cursor-pointer text-gray-400"
                    (click)="toggleDropdown('DigitalProduct')">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 13.5h3.86a2.25 2.25 0 0 1 2.012 1.244l.256.512a2.25 2.25 0 0 0 2.013 1.244h3.218a2.25 2.25 0 0 0 2.013-1.244l.256-.512a2.25 2.25 0 0 1 2.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 0 0-2.15-1.588H6.911a2.25 2.25 0 0 0-2.15 1.588L2.35 13.177a2.25 2.25 0 0 0-.1.661Z" />
                        </svg>
                        <span *ngIf="isSidebarOpen">Digital Product</span>
                    </div>
                    <svg class="w-4 h-4 transition-transform duration-300"
                        [class.rotate-180]="openDropdown === 'DigitalProduct'" fill="none" stroke="currentColor"
                        stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>
                <ul *ngIf="openDropdown === 'DigitalProduct' && isSidebarOpen"
                    class="pl-8 rounded-sm bg-gray-100 text-sm">
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="digitalprodctlist()">Product List
                    </li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="digitalcheckout()">Chekout
                        List</li>

                </ul>
            </li>
            <li class="mb-3">
                <div class="flex items-center justify-between px-4 py-2 hover:bg-gray-200 
                    rounded-sm font-semibold text-sm hover:text-blue-600 cursor-pointer text-gray-400"
                    (click)="toggleDropdown('customer')">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                        </svg>
                        <span *ngIf="isSidebarOpen">Customer</span>
                    </div>
                    <svg class="w-4 h-4 transition-transform duration-300"
                        [class.rotate-180]="openDropdown === 'customer'" fill="none" stroke="currentColor"
                        stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>
                <ul *ngIf="openDropdown === 'customer' && isSidebarOpen" class="pl-8 rounded-sm bg-gray-100 text-sm">
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="customerlist()">Customer
                        List</li>
                </ul>
            </li>
            <li class="mb-3">
                <div class="flex items-center justify-between px-4 py-2 hover:bg-gray-200 
                    rounded-sm font-semibold text-sm hover:text-blue-600 cursor-pointer text-gray-400"
                    (click)="toggleDropdown('Oonsoft_product')">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                        </svg>
                        <span *ngIf="isSidebarOpen">OonSoft</span>
                    </div>
                    <svg class="w-4 h-4 transition-transform duration-300"
                        [class.rotate-180]="openDropdown === 'Oonsoft_product'" fill="none" stroke="currentColor"
                        stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>
                <ul *ngIf="openDropdown === 'Oonsoft_product' && isSidebarOpen"
                    class="pl-8 rounded-sm bg-gray-100 text-sm">
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="Oonsoft_products()">Oonsoft List
                    </li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="countries()">countries List
                    </li>
                </ul>
            </li>
            <li class="mb-3">
                <div class="flex items-center justify-between px-4 py-2 hover:bg-gray-200 rounded-sm font-semibold text-sm hover:text-blue-600 cursor-pointer text-gray-400"
                    (click)="toggleDropdown('EditPolicy')">
                    <div class="flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-blue-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                        </svg>
                        <span *ngIf="isSidebarOpen">Edit Policy</span>
                    </div>
                    <svg class="w-4 h-4 transition-transform duration-300"
                        [class.rotate-180]="openDropdown === 'EditPolicy'" fill="none" stroke="currentColor"
                        stroke-width="2" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>
                </div>

                <ul *ngIf="openDropdown === 'EditPolicy' && isSidebarOpen" class="pl-8 rounded-sm bg-gray-100 text-sm">
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="termsOfService()">Terms of Service</li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="returnsPolicy()">Returns Policy</li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="acceptableUsePolicy()">Acceptable Use Policy</li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="cookiePolicy()">Cookie Policy</li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="cancellationsBilling()">Cancellations & Billing</li>
                    <li class="py-2 hover:text-blue-600 font-semibold text-sm cursor-pointer text-gray-400"
                        (click)="privacyPolicy()">Privacy Policy</li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>